.text {
	font-family: "Kaushan Script";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 44px;
	color: #2d3033;
	text-align: center;
	padding-top: 70px;

	.subtitle {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 900;
		font-size: 36px;
		line-height: 42px;
		color: #2d3033;
		text-align: center;
		text-transform: uppercase;
		padding: 40px 0 40px;
	}
	.line {
		width: 170px;
		border: 4px solid #f38281;
		margin: 0 auto;
	}

	.about__descritpion {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		padding: 50px 0 50px;
		text-align: center;
	}
}

.service__about {
	display: flex;

	.service__item {
		margin-left: 30px;
	}

	.service__chapter {
		.service__header-active {
			border: 1px solid #c6cbcd;
			padding: 34px 20px 34px 60px;
			position: relative;

			svg {
				position: absolute;
				top: 24px;
				left: 11px;
			}

			.service__line {
				position: absolute;
				top: 21px;
				left: 489px;
			}

			.service__title {
				font-family: "Raleway";
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 28px;
				text-transform: uppercase;
				color: #2d3033;
				padding-left: 20px;
			}
		}
		.service__header {
			border: 1px solid #c6cbcd;
			padding: 34px 20px 34px 60px;
			position: relative;
			margin-bottom: 20px;
			margin-top: 20px;

			svg {
				position: absolute;
				top: 24px;
				left: 11px;
			}

			.service__title {
				font-family: "Raleway";
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 28px;
				text-transform: uppercase;
				color: #2d3033;
				padding-left: 20px;
			}

			.service__line {
				position: absolute;
				top: 21px;
				left: 489px;
			}
		}

		.service__text {
			padding: 15px 20px;
			border: 1px solid #c6cbcd;
			margin-bottom: 20xp;
			position: relative;

			p {
				font-family: "Raleway";
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				color: #2d3033;
			}

			svg {
				position: absolute;
				top: 9px;
				right: 7px;
			}
		}
	}
}
